.headingEvents {
  font-family: $font_ibm;
  color: $secondary;
}

.eventSections {
  h5 {
    font-size: 1.5rem;
  }
}

.eventBox {
  background-color: $hover;
  border: 10px solid $green-element;
  @include lg-min {
    width: 46%;
  }
}

.heroImageEvent {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.btn-primary {
  background-color: $primary;
  border: 1px solid $primary;

  &:hover {
    background-color: $primary;
    border: 1px solid $primary;
    filter: brightness(150%);
  }
}

.btn-secondary {
  background-color: $secondary;
}

.card-body {
  background-color: $hover-light;
  border: 1px solid $hover-light;
}

.badgeCategory {
  position: absolute;
  left: 5%;
  background-color: $primary;
}
