.signInTitle {
  letter-spacing: 10px;
  font-family: $font_inter;
  margin-bottom: 40px;
  color: $secondary;
}

.slogan {
  color: $secondary;
}

.descriptionCerebook{
  p {
    font-size: 24px;
  }
}

.homeContainer {
  margin-top: 10%;
}
